body {
  background: #000000;
  color: #ffffff;
  padding: 25px;
  font-family: sans-serif;
  text-align: center;
}

table, th, td {
  border: 1px white solid;
}

td, th {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 500px;
}

.website, .privacy, .status {
  width: 125px;
}

th {
  height: 20px;
}

td {
  height: 30px;
  padding: 10px;
  text-align: center;
}

.link {
  color: white;
}

.classified {
  font-family: Courier;
  font-size: 14px;
}

h1 {
  text-align: center;
}

.image1 {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
}

#proxies {
  color: white;
}

.button {
  background-color: #FFFFFF;
  border: none;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.button:hover {
  color: #e3e3e1;
}  
